h1 {
    border: 4px solid chocolate;
    text-align: center;
    background-color: rgba(124, 62, 39, 0.651);
}

img {
    padding: 10px;
    border: 10px solid black;
    opacity: 0.5;
    margin-left: 50px;
    margin-bottom: 10px;
}

img:hover {
    opacity: 1;
}